{% from "macro/image_block.html" import image_block with context %} {% extends
"layout.html" %} {% block title %}Mars{% endblock %} {% block content %}
<h1 class="display-4">Photos from Mars:</h1>

<form action="/mars" method="get">
  <input
    type="date"
    id="date-selected"
    onChange="submit()"
    name="date-selected"
    value="{{date_selected}}"
    min="2018-01-01"
    max="{{date_today}}"
  />
</form>
{{date_selected}}
<div class="d-flex flex-wrap">
  {% for item in data %} {{ image_block(item["img_src"], item["img_src"]) }} {%
  endfor %}
</div>
{% endblock %}
